/*h2 { font-size: 24px; font-weight: 600; font-variant: small-caps;  line-height: 1.25; }
h2.assignment { font-size: 24px; font-weight: 600; font-variant: small-caps; text-align: left;
                padding-right:20px; padding-left:20px; padding-top:10px;padding-bottom:10px;
                background-color:#101010;  color:#FFFFFF;}
body { margin-left: 80px; margin-right: 80px; margin-top: 20px; width: 1000px;
       font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; line-height: 1.5; }
pre  { font-family: "courier new", courier, mono; font-size: 14px; background-color:#ffffff; padding: 10px 15px 10px 15px; }
code { font-family: "courier new", courier, mono; font-size: 14px;  font-weight: 100; }
tt   { font-family: "courier new", courier, mono; font-size: 14px;  font-weight: 100; }
b { font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 600;}
pre b { font-family: "courier new", courier, mono; font-size: 14px; }


th { font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.5; font-weight: bold;  background-color: #800000;
color:#ffffff; padding: 6px; }
td { font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; line-height: 1.5; margin-top: 20px;}
td tt { font-family: "courier new", courier, mono; font-size: 14px;  font-weight: 100; }
th a { font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.5; font-weight: bold;  background-color: #666666; color:#ffffff; }
td a { font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; line-height: 1.5; margin-top: 20px;}

dt { font-weight: bold; }

table { border-collapse:separate; border-spacing:10px 2px; }

ol li        { list-style: decimal;     }
ol ol li     { list-style: lower-alpha; }
ol ol ol li  { list-style: lower-roman; }

ul li          { list-style: disc;    }
ul ul li       { list-style: circle;  }
ul ul ul li    { list-style: square;  }
ul ul ul ul li { list-style: disc;    }

a         { text-decoration: none; }
a:active  { color: green; }
a:hover   { color: red; text-decoration: underline;  }
*/


/*
Issues:
- background color for pre
- color palette: headings, toc background, table headers;
- links: underline, color, hover
*/

body {
  margin: 20px 80px; /* top/bottom are 20; left/right are 80 */
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

a:hover {
  color: red;
}

/* CODE */

pre, code, tt {
  font-family: "courier new", courier, mono;
  font-size: 14px;
  font-weight: 500;
}
pre {
  background-color:#eeeeee;
  padding: 10px 15px 10px 15px;
  margin: 2em;
  border: solid thin gray;
}

/* TABLES */

th {
  font-weight: bold;
  background-color: #666666;
  color:#ffffff;
  padding: 0em .5em;
}

td {
  margin-top: 60px;
  padding: 0em .5em;
}

/* Schedule */
.schedule {
  text-align: center;
}
.schedule td {
  padding: 0.5em .5em;
}
.schedule th {
  padding: 0em 1em;
}

/* HEADERS */

h1, h2, h3 {
  font-weight: 600;
  font-variant: small-caps;
  text-align: left;
  line-height: 1.25;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px
}

h3 {
  font-size: 24px;
}


#title h1 {
  text-align: right;
  font-size: 36px;
}


/* DEFINITIONS */

dt { font-weight: bold }

/* LISTS */

ul > li { list-style: square; }

/* Table of Contents */

#TOC {
  float: right;
  background: #eeeeee;
  font-size: 0.8em;
  padding: 2em;   /* padding around toc */
  margin-left: 2em;   /* give space from text to left and below */
  margin-bottom: 2em;
  margin-right: 0;
  margin-top: 0em;
  /*color: white;*/
}
/*#TOC a {
  color:#ffffff;
}
*/
#TOC ul {
  padding-left: 1.25em;
  margin: 0; /* we don't want space around list */
}



/*
  ---- FIGURES ----
  */

.assignment .figure {
    width: 60%;
}
.assignment .figure img {
    width: 100%;
    height: auto;
}
.assignment .figure > .caption {
    color: blue;
    text-align: center
}


/*
  ---- SPECIAL DIVS ----
  */

.assignment .exercise {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0.5em;
    background-color: #e0e0ff;
}

.assignment .hint {
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
      border:1px solid red;

    padding: 0.5em;
}

.assignment #due-dates {
    width: 60%;
    margin-left: 2%;
    padding: 0.5em;
    background-color: #e0e0ff;
}

.assignment .todo {
    color: #F00;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0.5em;
    background-color: #eeeeee;
}


/* NAVIGATION */

#nav {
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0px 0px 20px 0px;
  padding:0;
  text-align:center;
}

#nav li {
  display:inline;
}

#nav a {
  display:inline-block;
  padding:10px;
  text-decoration:none;
  font-weight:bold;
}

#nav a:hover {
  text-decoration:underline;
}
